* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../img/loginbg.jpg);
}

/* Absolute Screen Center */
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
@media screen and (max-width: 767px) {
    .inner {
        width: calc(100% - 40px);
    }
}
@media screen and (max-height: 400px) {
    .outer {
        top: 50px;
    }
}

/* Pane */
.pane {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding: 44px;
}
.pane-header {
    position: relative;
    top: -20px;
}
.pane-footer {
    position: relative;
    text-align: right;
    position: relative;
    bottom: -30px;
    right: -20px;
}
@media screen and (max-width: 767px) {
    .pane {
        padding: 20px;
    }
    .pane-header {
        top: -10px;
    }
    .pane-footer {
        bottom: -15px;
        right: -10px;
    }
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    padding: 5px;
    background-color: transparent;
}
#footer a {
    float: right;
    color: #333333;
    margin-right: 10px;
}
@media screen and (max-height: 400px) {
    #footer {
        position: absolute;
        top: 110%;
    }
    .lower {
        position: absolute;
        top: 150% !important;
    }
}