* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Splash */
.splash {
    background-image: url(../img/splash.jpg);
    margin-top: 50px;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.splash-panel {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    padding: 44px;
    position: absolute;
    bottom: 50vh;
    left: 10%;
    transform: translateY(50%);
    -o-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
}
.splash-small {
    margin-top: 50px;
    height: 30vh;
    color: white;
}
.splash-small-green {
    background-color: #007E65;
}
.splash-small-orange {
    background-color: rgb(255, 127, 80);
}
.splash-small-blue {
    background-color: rgb(100, 149, 237);
}
.splash-small-purple {
    background-color: mediumpurple;
}
.splash-small-panel {
    background-color: transparent;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.splash-panel h1 {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}
.splash-panel .il {
    margin-left: 10px;
}
.form-lg {
    text-align: center;
}
.form-md {
    display: none;
}
@media screen and (max-width: 1199px) {
    .splash {
        background-position: right;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .splash-panel h2 {
        display: none;
    }
    .splash-panel {
        padding: 20px;
        left: 0;
        width: 100%;
        bottom: 5vh;
        transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    .form-lg {
        display: none;
    }
    .form-md {
        text-align: center;
        display: block;
    }
}

/* Content */
.content-prev {
    margin-top: 50px;
    text-align: center;
}
.content-prev hr {
    width: 30%;
    max-width: 200px;
    border: 5px solid #5CB85C;
    background-color: #5CB85C;
    border-radius: 5px;
    margin-bottom: 0;
}
.content-box .thumbnail {
    padding: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    transition: box-shadow 0.5s;
}
.content-box .thumbnail:hover {
    box-shadow: 0 5px 6px rgba(0,0,0,.9);
    transition: box-shadow 0.5s;
}
.thumbnail-pricing {
    border: 2px solid #5BC0DE;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px 0;
}
.features-highlight {
    border: 2px solid #337AB7;
    margin: 0 20px;
    padding: 10px;
}
.features-highlight em {
    text-decoration: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.thumbnail-pricing .features-prev {
    text-align: left;
    margin-left: 15px;
}
.thumbnail-pricing .features-list {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}
.thumbnail-pricing .features-list i {
    color: #337AB7;
    cursor: pointer;
}
.features-list span  {
    visibility: hidden;
    width: 60%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.features-list span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.features-list:hover span{
    display: block;
    visibility: visible;
    opacity: 1;
}
.content-box {
    padding: 50px;
    padding-bottom: 0;
    text-align: center;
}
.content-columns {
    text-align: left;
}
.content-column {
    border-left: 5px solid white;
    margin-bottom: 30px;
}
.content-columns ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
}
@media screen and (max-width: 767px) {
    .content-box {
        padding: 20px;
    }
}

/* Standout */
.standout {
    margin-top: 50px;
    padding: 0 44px 44px 44px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
.standout-orange {
    background-color: rgb(255, 127, 80);
    color: white;
}
@media screen and (max-width: 767px) {
    .standout {
        padding: 0 15px 40px 15px;
    }
}

/* Call To Action */
.cta {
    width: 100%;
    padding: 50px;
    font-size: 25px;
    text-align: center;
}
.cta-green {
    background-color: #007E65;
    color: white;
}
.cta .spacer {
    height: 20px;
}
@media screen and (max-width: 767px) {
    .cta {
        font-size: 13px;
        padding: 50px 20px;
    }
}

/* Buttons */
.clear-button {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background 0.5s;
}
.clear-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 0.5s;
}

/* Footer */
#footer {
    width: 100%;
    font-size: 10px;
    padding: 5px;
}
#footer a {
    float: right;
    color: #333333;
    margin-right: 10px;
}