/* General */
html, body {
    background-color: #ffffff !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.btn-close {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-close:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-disabled {
    opacity: 0.5;
}

/* User Controls */
.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #333333;
    height: 40px;
    max-height: 40px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.navbar-brand {
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    float: left;
}
.navbar-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 0;
    margin: 0;
}
#micControl {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 10px;
    margin-top: 3px;
    margin-right: 10px;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
#decControl {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 10px;
    margin-top: 3px;
    margin-right: 10px;
    border: 2px solid rgb(200, 0, 0);
    background-color: rgb(200, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}
#vidControl {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 10px;
    margin-top: 3px;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
.navbar-dropped {
    background-color: #ffffff;
    color: #333333;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    float: right;
}
.navbar-drop {
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    float: right;
}
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .navbar-controls {
        position: absolute;
        left: 10px;
        transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        padding: 0;
        margin: 0;
    }
}

/* Floating Branding */
#floatBrand {
    display: none;
    position: fixed;
    opacity: 0.7;
    top: 5px;
    left: 5px;
    z-index: 4;
}
@media screen and (max-width: 767px) {
    #floatBrand {
        display: block;
    }
}

/* Nav Dropdown */
.control-drop {
    z-index: 3;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ffffff;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.control-item {
    border-bottom: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.control-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}
.control-item ~ .active {
    background-color: #ffffff;
    color: #333333;
}
@media screen and (max-height: 500px) {
    .control-item {
        padding: 5px 20px;
        font-size: 10px;
    }
}

/* Slider */
.slider-left {
    height: calc(100vh - 45px);
    max-height: calc(100vh - 45px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 41px;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
}
.slider-left-shown {
    width: 450px !important;
}
.slider-header {
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    overflow: hidden;
    height: 20px;
    max-height: 20px;
    overflow-y: hidden;
}
.slider-header h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}
.slider-header button {
    position: absolute;
    top: 15px;
    right: 15px;
}
.slider-body {
    position: absolute;
    top: 51px;
    left: 0;
    height: calc(100vh - 96px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
@media screen and (max-width: 575px) {
    .slider-left {
        height: calc(100vh - 42px);
        max-height: calc(100vh - 42px);
    }
    .slider-left-shown {
        width: calc(100vw - 2px) !important;
    }
}
@media screen and (max-height: 400px) {
    .slider-header {
        padding: 8px;
    }
    .slider-header button {
        top: 8px;
        right: 8px;
    }
    .slider-body {
        top: 37px;
        height: calc(100vh - 82px);
    }
}

/* Layouts */
.discussion {
    position: absolute;
    left: 3vw;
    top: 41px;
    height: calc(100vh - 50px);
    width: 94vw;
}
@media screen and (orientation: portrait) {
    .presentation {
        position: absolute;
        left: 3vw;
        top: calc(50vh + 50px);
        width: 94vw;
        height: 40vh;
    }
}
@media screen and (orientation: landscape) {
    .presentation {
        position: absolute;
        left: 0;
        top: 41px;
        height: calc(100vh - 50px);
        width: 20vw;
    }
}

/* Presentation */
@media screen and (orientation: portrait) {
    #present {
        position: absolute;
        left: 3vw;
        top: 41px;
        width: 94vw;
        height: 50vh;
        overflow: hidden;
    }
}
@media screen and (orientation: landscape) {
    #present {
        position: absolute;
        right: 0;
        top: 41px;
        height: calc(100vh - 50px);
        width: 79vw;
        overflow: hidden;
    }
}
#presentHeader {
    width: calc(100% - 2px);
    height: 30px;
    max-height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #cccccc;
}
#presentHeader button {
    margin-bottom: 4px;
}
#headTitle {
    width: calc(100% - 60px);
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px
}
#presentFrame {
    width: calc(100% - 2px);
    height: calc(100% - 32px);
    border: 0;
    padding: 0;
    margin: 0;
}
#mainSpeaker {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

/* Chat */
.chat-box {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 0;
    background-color: rgb(135, 206, 235);
    border-radius: 5px;
}
.chat-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
}
.chat-namestamp {
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 5px;
    width: calc(100% - 20px);
    overflow: hidden;
}
.chat-content {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 5px;
    width: calc(100% - 20px);
    overflow-wrap: break-word;
}
.chat-timestamp {
    text-align: right;
    font-size: 10px;
    margin-right: 5px;
    padding-top: 5px;
}
.chat-send {
    position: absolute;
    bottom: 4px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}
#chatMessage {
    position: absolute;
    top: 0;
    left: 2px;
    padding: 0 5px;
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 3px solid #cccccc;
    width: calc(90% - 5px);
    resize: none;
    font-size: 13px;
    height: 50px;
    max-height: 50px;
    transition: border 0.3s;    
}
#chatMessage:focus {
    outline: none;
    border-left: 3px solid rgb(12, 199, 12);
    transition: border 0.3s;
}
#chatSend {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: calc(10% - 5px);
    border: none;
    text-align: center;
    font-size: 14px;
    height: 50px;
    max-height: 50px;
    cursor: pointer;
    background-color: rgb(12, 199, 12);
    color: #ffffff;
}
#chatSend:focus {
    outline: none;
}

/* User List */
.user-container {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    color: #333333;
}
.user-name {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: calc(100% - 110px);
    max-height: 22px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.user-name p {
    width: calc(100% - 6px);
    margin-left: 5px;
}
.user-controls {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100px;
    max-width: 100px;
    max-height: 22px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.user-status {
    color: rgb(255, 0, 0);
    padding-right: 5px;
}

/* Remote Video */
#remoteVid {
    overflow-x: auto;
    overflow-y: auto;
}
.remoteContainer {
    width: 100%;
    max-width: 23vw;
    height: 200px;
    background-color: #000000;
    margin-bottom: 2px;
    margin-right: 2px;
    float: left;
    position: relative;
}
.remoteStatus {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: rgb(255, 0, 0);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.remoteName {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 10px;
    padding: 0 2px;
    max-height: 12px;
    overflow: hidden;
    z-index: 1;
}
@media screen and (max-width: 500px) {
    .remoteContainer {
        max-width: 100%;
    }
}